/* CSS para estilizar a interface de guia */
#guide {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 150px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

/* CSS para estilizar a interface de leitura de código de barras */
#barcode {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgba(0, 0, 0, 0.5);
}

.bar {
    width: 8px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    float: left;
    margin-right: 4px;
}

.white-bar {
    width: 8px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    float: left;
    margin-right: 4px;
}
